<h1>Users</h1>

<ul class="users">

  <table>
    <thead>
      <tr>
        <th><div class="col1">Name</div></th>
        <th><div class="col1">Email</div></th>
        <th><div class="col2">Role</div></th>
        <th><div class="col3">Created At</div></th>
      </tr>
    </thead>
  </table>
  <% @users.each do |user| %>
    <li>
      <table>
         <tbody style="color: #484848; font-size: 15px">
              <tr>
                <td>
                  <div class="col1""><%= user.name %></div>
                </td>
                <td>
                  <div class="col1"><%= user.email %></div>
                </td>
                <td>
                  <div class="col2"><%= user.role %></div>
                </td>
                <td>
                  <div class="col3"><%= user.created_at %></div>
                </td>
                <td>
                  <div class="col4"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                </td>
              </tr>
          </tbody>
      </table>
    </li>
  <% end %>
</ul>
<div style="text-align: center;"><%= will_paginate %></div>
