<% if is_root_user(current_user) %>
  <h1>Users</h1>
<% elsif !is_root_user(current_user)%>
  <h1>Doctors</h1>
<% end %>


<ul class="users">

  <table>
    <thead>
      <tr>
        <th><div class="col1">Name</div></th>
        <th><div class="col1">Email</div></th>
        <th><div class="col2">Role</div></th>
        <th>
          <% if is_root_user(current_user) %>
            <div class="col3">Created At</div>
          <% elsif !is_root_user(current_user)%>
            <div class="col3">Location</div>
          <% end %>
        </th>
      </tr>
    </thead>
  </table>
  <% @users.each do |user| %>
    <li>
      <table id='table'>
         <tbody style="color: #484848; font-size: 15px">
              <tr>
                <td>
                  <div class="col1""><%= link_to user.name, user, method: :get %></div>
                </td>
                <td>
                  <div class="col1"><%= user.email %></div>
                </td>
                <td>
                  <div class="col2"><%= user.role %></div>
                </td>
                <td>
                  <% if is_root_user(current_user) %>
                    <div class="col3"><%= user.created_at %></div>
                  <% elsif !is_root_user(current_user) %>
                    <div class="col3"><%= user.location %></div>
                  <% end %>
                </td>
                <td>
                  <% if is_root_user(current_user) %>
                    <div class="col4"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                  <% end %>
                </td>
              </tr>
          </tbody>
      </table>
    </li>
  <% end %>
</ul>
<div style="text-align: center;"><%= will_paginate %></div>
